*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.card{
    background-color: lightblue;
    width: 75%;
    margin-left: 7%;
    border-radius: 5px;
    height: 5%;
    padding: 10px;
    align-self: center;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.division{
    width: calc(100% / 3 -  15px);
}


.allineamento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

